<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1', {packages: ['table']});
var json_table;
var json_data;

function selectHandler()
{
    var selection = json_table.getSelection();
    var item = selection[0];
    window.location.href = "/fifadev/user?id=" + json_data.getValue(item.row, 2);
}

var options = {'showRowNumber': false, 'allowHtml':true}; //, 'width': "100%"};
function drawVisualization()
{
  json_table = new google.visualization.Table(document.getElementById('table_div_json'));
  json_data = new google.visualization.DataTable( {{ json }} );
  //json_data.setProperty(0, 0, "style", "width: 100px;");
  var formatter = new google.visualization.BarFormat({width: 80, colorPositive: "green" });
  formatter.format(json_data, 3);

  json_table.draw(json_data, options);

  google.visualization.events.addListener(json_table, 'select', selectHandler);
}

google.setOnLoadCallback(drawVisualization);
</script>
<a href="/{{ ladder_name }}/report">Report Match</a>
<a href="/{{ ladder_name }}/account">My Account</a>
<h1 id="header">{{ ladder_name }} Ladder</h1>
<div id="table_div_json"></div>
</br>
<h2 id="header">Latest Games</h2>
<div id="latest_games">
{% for game in games %}
  {% if game.winner_team %}
    <b>{{ game.winner }}</b> ({{ game.winner_team }}) <b>{{ game.winner_score }} - {{ game.loser_score }}</b> ({{ game.loser_team }}) <b>{{ game.loser }}</b></br>
  {% else %}
    <b>{{ game.winner }} {{ game.winner_score }} - {{ game.loser_score }} {{ game.loser }}</b></br>
  {% endif %}
  date: {{ game.date|date:"F j, Y, P T" }}</br>
  winner: {% if game.tie %} draw {% else %} {{ game.winner }} {% endif %}</br>
  {% if game.comments %}
      comments:
      {% for comment in game.get_comments %}
         <b>{{ comment.user }}</b> {{ comment.date|timesince}} ago<br>
         <div id="game_comments">{{ comment.text|escape }}</div>
      {% endfor %}
  {% endif %}
  </br>
{% endfor %}
</div>