<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1', {packages: ['piechart']});

function drawVisualization()
{
  json_pie = new google.visualization.PieChart(document.getElementById('piechart_div_json'));
  json_data = new google.visualization.DataTable( {{ json }} );
  json_pie.draw(json_data, {width: 400, height:240, is3D: true, title: 'Win / Loss Record'});
}

google.setOnLoadCallback(drawVisualization);

</script>
<a href="/{{ ladder_name }}/">Ladder</a>
<a href="/{{ ladder_name }}/report">Report Match</a>
<a href="/{{ ladder_name }}/account">My Account</a>
<h1 id="header">
	{% if userRecord.nickname %}
		{{ userRecord.nickname }} ({{ userRecord.user.nickname }})
	{% else %}
		{{ userRecord.user.nickname }}
	{% endif %}
	Profile</h1>
Email:{{ userRecord.user.email }}</br>
Nickname:{{ userRecord.nickname }}</br>
<div id="piechart_div_json"></div>
<h2 id="header">Latest Games</h2>
<div id="latest_games">
{% for game in games %}
  {% if game.winner_team %}
    <b>{{ game.winner }}</b> ({{ game.winner_team }}) <b>{{ game.winner_score }} - {{ game.loser_score }}</b> ({{ game.loser_team }}) <b>{{ game.loser }}</b></br>
  {% else %}
    <b>{{ game.winner }} {{ game.winner_score }} - {{ game.loser_score }} {{ game.loser }}</b></br>
  {% endif %}
  date: {{ game.date|date:"F j, Y, P T" }}</br>
  winner: {% if game.tie %} draw {% else %} {{ game.winner }} {% endif %}</br>
  {% if game.comments %}
      comments:
      {% for comment in game.get_comments %}
         <b>{{ comment.user }}</b> {{ comment.date|timesince}} ago<br>
         <div id="game_comments">{{ comment.text|escape }}</div>
      {% endfor %}
  {% endif %}
  </br>
{% endfor %}
</div>
